body {
  letter-spacing: 0.0625em;
  font-family: "Montserrat";
  color: #253237;
}

section {
  padding: 7rem 0;
}

.container-fluid {
  /* top-r/l-b */
  padding: 0 15% 0;
}

#title {
  background-color: #253237;
  color: #fff;
}

section#title {
  padding: 20% 0;
}

/* Navigation Bar */
.logo {
  width: 50px;
  height: 50px;
}

#mainNav {
  min-height: 3.5rem;
  background-color: #fff;
  font-size: 85%;
  padding: 0 15%;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #5c6b73;
  border: 1px solid #5c6b73;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }

  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1rem;
    color: #9db4c0;
  }

  #mainNav .nav-link:hover {
    color: #c2dfe3;
  }

  #mainNav .nav-link:active {
    color: #fff;
  }

  #mainNav.navbar-shrink {
    background-color: #fff;
  }

  #mainNav.navbar-shrink .navbar-brand {
    color: #253237;
  }

  #mainNav.navbar-shrink .nav-link {
    color: #253237;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }

  #mainNav.navbar-shrink .nav-link:hover {
    color: #c2dfe3;
  }

  #mainNav.navbar-shrink .nav-link.active {
    color: #5c6b73;
    outline: none;
    border-bottom: 0.25rem solid #5c6b73;
  }
}

/* Master Header */
.masterheader {
  padding-top: 3rem;
}

h1 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.8rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.5;
}

/* About Me */
#about {
  position: relative;
  background-color: #f5f5f5;
  color: #5c6b73;
}

#about p {
  margin-bottom: 2rem;
  /* max-width: 48rem; */
}

#about ul {
  list-style-type: none;
}

#about li::before {
  content: "\1F4BB";
  margin-left: -40px;
  margin-right: 15px;
}

.tech-style {
  font-family: "Courier Prime", monospace;
}

/* Projects Section */
#projects {
  background-color: #5c6b73;
}

#projects .project-text {
  font-size: 90%;
}

#projects h4 {
  padding-top: 2rem;
  font-size: 1rem;
}

#projects a {
  color: #e0fbfc;
  font-weight: 500;
}

#projects .project-text hr {
  border-color: #e0fbfc;
  border-width: 0.25rem;
  width: 150px;
  margin-bottom: 2rem;
}

@media (min-width: 992px) {
  #projects .project-text {
    font-size: 95%;
  }

  #projects h4 {
    padding-top: 0;
    font-size: 1.5rem;
  }

  #projects .project-text hr {
    border-color: #e0fbfc;
    border-width: 0.25rem;
    width: 43%;
  }
}

#work {
  background-color: #f5f5f5;
}

#work p {
  margin-bottom: 10px;
  color: #5c6b73;
}

#work .row-experience {
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  #work p {
    margin-bottom: 0px;
  }

  .work-title-date {
    margin-bottom: 25px;
  }
}

#contact {
  color: #fff;
  background-color: #253237;
}

#contact .social {
  margin-top: 5rem;
}

#contact p {
  /* max-width: 48rem; */
}

.social-button {
  padding-bottom: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.social-link {
  display: block;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  font-size: 1rem;
  background-color: #7e919d;
  transition: background-color 0.15s ease-in-out;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
}

.social-link:hover {
  background-color: #9db4c0;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.footer {
  padding: 3rem 0;
  background-color: #e0fbfc;
}

/* Responsive Website */
@media (max-width: 1024px) {
  #title {
    text-align: center;
  }

  #mainNav {
    min-height: 3.5rem;
    font-size: 85%;
    padding: 1rem 5%;
  }
}
