body {
  letter-spacing: 0.0625em;
  font-family: "Montserrat";
  color: #253237;
}

.container {
  width: 75%;
}

.logo {
  width: 50px;
  height: 50px;
}

#mainNav {
  min-height: 3.5rem;
  background-color: #fff;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #5c6b73;
  border: 1px solid #5c6b73;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: #333333;
  font-weight: 700;
  padding: 0.9rem 0;
}

/* #mainNav .navbar-nav .nav-item:hover {
  color: fade(#fff, 80%);
  outline: none;
  background-color: transparent;
} */

.customs {
  text-align: right;
  color: yellow;
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }

  #mainNav .navbar-brand {
    padding: 0.5rem 0;
    color: rgba(255, 255, 255, 0.5);
  }

  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: #9db4c0;
  }

  #mainNav .nav-link:hover {
    color: #c2dfe3;
  }

  #mainNav .nav-link:active {
    color: #fff;
  }

  #mainNav.navbar-shrink {
    background-color: #fff;
  }

  #mainNav.navbar-shrink .navbar-brand {
    color: #253237;
  }

  #mainNav.navbar-shrink .nav-link {
    color: #253237;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }

  #mainNav.navbar-shrink .nav-link:hover {
    color: #c2dfe3;
  }

  #mainNav.navbar-shrink .nav-link.active {
    color: #5c6b73;
    outline: none;
    border-bottom: 0.25rem solid #5c6b73;
  }
}

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background-color: #253237;
}

.masthead h1 {
  font-family: "Montserrat";
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 4.5rem;
  letter-spacing: 0.8rem;
  color: #f7f7f7;
}

.masthead h2 {
  max-width: 25rem;
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 5rem;
    line-height: 5rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }

  .masthead h1 {
    font-size: 5rem;
    line-height: 5rem;
    letter-spacing: 0.8rem;
  }

  .masthead h2 {
    max-width: 40rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .work-section p {
    margin-bottom: 0px;
  }

  .work-title-date {
    margin-bottom: 25px;
  }
}

.about-section {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #eaffff;
}

.about-section p {
  margin-bottom: 2rem;
  color: #5c6b73;
  max-width: 40rem;
}

.about-section ul {
  list-style-type: none;
  color: #5c6b73;
}
.about-section li::before {
  content: "\1F4BB";
  margin-left: -40px;
  margin-right: 15px;
}

.projects-section {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #5c6b73;
}

.projects-section .project-text {
  font-size: 80%;
}

.projects-section h4 {
  padding-top: 2rem;
  font-size: 1rem;
}

.projects-section a {
  color: #e0fbfc;
  font-weight: 500;
}

.projects-section .project-text hr {
  border-color: #e0fbfc;
  border-width: 0.25rem;
  width: 150px;
  margin-bottom: 2rem;
}

.tech-style {
  font-family: "Courier Prime", monospace;
}

@media (min-width: 992px) {
  .projects-section .project-text {
    font-size: 90%;
  }

  .projects-section h4 {
    padding-top: 0;
    font-size: 1.5rem;
  }

  .projects-section .project-text hr {
    border-color: #e0fbfc;
    border-width: 0.25rem;
    width: 43%;
  }
}

.work-section {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #fff;
}

.work-section p {
  margin-bottom: 10px;

  color: #8f8f8f;
}

.row-experience {
  margin-bottom: 20px;
}

.signup-section {
  padding: 10rem 0;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.5) 75%,
      #000000 100%
    ),
    url("../assets/img/bg-signup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.signup-section .form-inline input {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.contact-section {
  padding-top: 5rem;
}

.contact-section .social {
  margin-top: 5rem;
}

.social-link {
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 2.5rem;
  background-color: #5c6b73;
  transition: background-color 0.15s ease-in-out;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
}

.social-link:hover {
  background-color: #9db4c0;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.footer {
  padding: 3rem 0;
}
